:root {--tests: linear-gradient(30deg, rgb(231 231 231 / 97%) 5%, rgb(54 222 247 / 95%) 20%, rgb(107 124 201 / 95%) 40%, rgb(180 108 227 / 95%) 75%);
    --articles-background-image: linear-gradient(120deg, #ddfffe 0%, #e7d9ff 30%, #bebaff 95%, #ddfffe 100%);}
body {height: fit-content;}
#main-container {display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 20px;}
#main-left {height: fit-content;
    min-height: 100%;
    width: fit-content;
    max-width: 300px;
    grid-column: 1;
    margin-left: 15px;
    padding-right: 15px;
    transition: width 300ms;}
#main-middle {height: fit-content;
    max-width: 1200px; 
    width: 100%; 
    grid-column: 2;
    padding: 0 0 100px 0;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(173, 173, 173, 0.3) 0 0 10px inset;
    background-color: rgba(170, 175, 169, 0.1);}
#main-right {position: relative;
    height: 0;
    width: 50px;
    grid-column: 3;}

#slide-container {width: 50px;
    max-height: 700px;
    position: fixed;
    right: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 500ms ease-in, box-shadow 500ms;
    background-color: rgb(230, 230, 230);}
#content-box {position: absolute;
    top: 0;
    left: 0;}
#content-box2 {position: absolute;
    bottom: 0;
    left: 0;}
#pop-button {position: absolute;
    top: calc(50% - 30px);
    left: 3px;
    height: 34px;
    width: 34px;
    border-radius: 20px;
    transition: box-shadow 400ms ease-in-out;}
#pop-button:hover {cursor: pointer;}
#button-icon {transition: 500ms;}
#button-icon path {transition: 500ms;}

#articles {position: relative; z-index: 5;
    width: 35px;
    height: 35px;
    max-height: 700px;
    padding: 17px;
    background-image: var(--articles-background-image);
    transition: width 300ms, height 800ms, box-shadow 500ms;
    border: 1px solid #4e4e4e;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;}
#article-icon {width: 100%;
    height: 100%;
    color: #000;
    font-size: 50px;}
#articles:hover {box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;}

#articles-container-wrap {position: absolute;
    height: calc(100% - 75px);
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;}
#articles-container {display: block; 
    height: fit-content;
    width: 100%;
    text-wrap: nowrap;}
#articles-container:hover {cursor: default;}
#articles-title {display: none;
    height: fit-content;
    width: 70%;
    margin: 0 auto 0;
    padding: 0 0 12px;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    user-select: none;}
.article-box {position: relative; 
    width: calc(100% - 35px);
    height: 140px;
    margin: 0 auto 10px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;}
.article-box:hover .article-img {filter: brightness(170%)}
.article-title {height: fit-content;
    width: fit-content; 
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: 18px;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 5px #fff;}
.article-author {position: absolute;
    left: 5px; 
    bottom: 20px;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    font-size: 18px;
    border-radius: 10px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.050);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 4px #fff;}
.article-date {position: absolute; 
    bottom: 5px;
    right: 5px;
    font-family: inherit; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: end;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 3px #fff;}
.article-img {position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    transition: filter 1000ms;
    z-index: -1;}
#scroll-path {position: absolute;
    top: 75px;
    right: 4px;
    height: calc(100% - 95px);
    width: 6px;
    border-radius: 5px;
    background-color: rgba(84, 104, 160, 0.3);
    transition: background-color 300ms, box-shadow 300ms;}
#scroll-path:hover {cursor: default;}
#articles-scroll {height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #8f8fdf;
    transition: 300ms;}

@media screen and (max-width: 1466px) {
    #main-container {grid-template-columns: 0 1fr 0;}
    #articles {position: absolute;
        left: 5px;
        z-index: 10;}
    #main-container > .funky-box {width: 90%;}
}
@media screen and (max-width: 1024px) {
    #slide-container {width: 25px;}
    #pop-button {width: 20px;
        left: 0;}
}
@media screen and (max-width: 768px) {
    #main-container {gap: 0;}
    #main-middle {border-radius: 0;}
    #main-middle > .funky-box {width: 90%;}
    #slide-container {width: 10px;}
    #pop-button {height: 28px;}
}
@media screen and (max-width: 629px) {
    .article-box {max-width: 340px;}
}