body {height: 2000px;}
#main-container {width: 100%;
    height: 100%;}

#articles {position: relative; 
    width: 35px;
    height: 35px;
    max-height: 700px;
    padding: 17px;
    margin-left: 50px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(85, 85, 85, 0.050), rgba(85, 85, 85, 0.5));
    transition: width 300ms, height 800ms, box-shadow 500ms;
    border: 1px solid #000;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;}
#article-icon {width: 100%;
    height: 100%;
    color: #000;
    font-size: 50px;}
#articles:hover {box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);}
#articles-container {display: block;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 82px;
    left: 0;
    text-wrap: nowrap;}
#articles-title {display: none;
    height: fit-content;
    width: 70%;
    margin: 0 auto 20px;
    padding: 0 0 12px;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    user-select: none;}
.article-box {position: relative;
    width: calc(100% - 30px);
    height: 130px;
    margin: 0 15px 10px;
    padding: 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;}
.article-title {height: fit-content;
    width: calc(100% - 40px);
    margin: 0 20px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: 18px;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;}
.article-author {position: absolute;
    left: 0;
    bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: start;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);}
.article-date {position: absolute;
    bottom: 0;
    right: 0;
    font-family: inherit; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: end;}
.article-img {position: absolute;
    top: 0; 
    width: 100%;
    height: 100%; 
    opacity: 0.5;
    object-fit: cover;}
#articles-scroll {position: absolute;
    top: 0;
    right: 3px;
    height: 50px;
    width: 5px;
    border-radius: 5px;
    background-color: rgb(116, 116, 116);
    transition: background-color 300ms, box-shadow 300ms;}
#articles-container:hover #articles-scroll {background-color: rgb(40, 40, 40);
    box-shadow: 0 0 3px #000;}