#container {position: relative;
    height: 350px;
    width: 100%;
    max-width: 250px;
    margin: 10px auto 0;
    border: 1px solid #505050;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 12px #888888;
    background-color: rgba(0, 0, 0, 0.135);}
#container h3 {margin: 10px 0 15px;
    font-size: 22px;
    color: #242424}
.input-box {text-align: center;
    width: 80%;
    height: 22px;
    padding: 2px 1px;
    border: 1px solid #505050;
    border-radius: 10px;
    font-size: 16px;}
.input-box:focus {outline: none;
    box-shadow: 0 0 6px #3b3b3b, inset 0 0 1px #3b3b3b;}
label {font-size: 15px;}
#reset-button {display: block;
    width: 80%;
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px auto 0;
    transition: 150ms ease-in-out;}
#reset-button:hover {background-color: rgb(212, 196, 46);}